

/*
 * Custom css to style a shiny dashboard into NINA-style.
 * For use in an iframe on www.nina.no
 * ----------
 */
 
 /*
 .logo {
  font-family: "Open Sans", Helvetica, Arial;
  font-weight: bold;
}
*/

.box {
  border: 2px solid #A2AAAD;
  border-radius: 4px;
  box-shadow: none;
  margin: none;
/*
  width: 400px;
  height: 300px;
  box-sizing: border-box;
*/
}


.box-header {
  margin-left: none;
  border-bottom: 2px solid #A2AAAD;
}

.box-title {
  font-size: 20px;
}

.box-body {
  white-space: pre-wrap;
  margin-left: 10px;
  margin-top: none;
  margin-bottom: none;
  font-family: "Open Sans", Helvetica, Arial;
  font-weight: normal;
  font-size: 12px;
}


#speciesbox > .box-body {
white-space: nowrap;
}

#taxabox > .box-body {
white-space: nowrap;
}


img {
  display: block;
  margin-left: auto; 
  margin-right: auto;
}


body {
  font-family: "Open Sans", Helvetica, Arial;
  font-weight: bold;
  font-size: 12px;
}

 
.navbar {
  background-color: #435768;
}


.navbar .nav > li > a {
 color: #ffffff;
 font-size: 14px;
}

.navbar-brand {
  font-size: 16px;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {

color: #e57200 !important;

background-color: #435768 !important;
background-image: none !important;
}


.navbar-default .navbar-brand{color: white;}
.navbar-default .navbar-brand:hover{color: white;}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus,
.navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.sidebar-toggle {
  color: #ffffff;
}
.navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.navbar .sidebar-toggle {
  color: #fff;
}
.navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
.navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
.navbar .dropdown-menu li a {
    color: #fff;
  }
.navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.navbar .logo {
  background-color: #004F71;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}

.navbar .logo:hover {
  background-color: #004F71;
}
.main-header li.user-header {
  background-color: #004F71;
}
.content-header {
  background: transparent;
}
.wrapper,
.main-sidebar,
.left-side {
  background-color: #222d32;
}
.user-panel > .info,
.user-panel > .info > a {
  color: #fff;
}
.sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #004F71;
}
.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.sidebar a {
  color: #b8c7ce;
}
.sidebar a:hover {
  text-decoration: none;
}
.treeview-menu > li > a {
  color: #8aa4af;
}
.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
  color: #ffffff;
}
.sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}







